.container{
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior:smooth;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: row;

    &::-webkit-scrollbar{
        display: none !important;
    }
}

.card{
    flex: 0 0 auto;
    width:33%;
    height:90%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 3px gray;
    margin-right:15px;

    &:last-child{
        margin-right:0px;
    }
}

.pointbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:10%;
}

.point {
    display: inline-block;
    margin-right:10px;
    position: relative;
    width:5px;
    height:5px;
    border-radius: 50%;
    border: rgb(163, 0, 163) solid 1px;
    background:white;
    cursor:pointer;

    &.active{
        background:rgb(163, 0, 163);
    }
}